footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    width: 100%;
    height: 130px;
    position: relative;
}
.text-green {
    color: #166A5B;
}
.footer-logo img {
    max-height: 50px;
    width: 50px;
}
.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-nav ul {
    margin-bottom: 0;
}
.list-inline-item:not(:last-child) {
    margin-right: 15px;
}

.product-card {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.product-card .title {
    font-weight: bold;
    margin-bottom: 10px;
}
.product-card a {
    display: block;
    margin-top: 10px;
    color: green;
    text-decoration: none;
}
.box {
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.img-container img {
    max-width: 100%;
    height: auto;
}
.block1 { 
    /* width: 200px;
    height: 200px; */
    /* background: #ccc; */
    /* padding: 50px; */ 
    /* padding-right: 70px; 
    /* border: solid 1px black;  */
    /* float: center; */
    padding: 10px;
    margin: 0px;
}
.box1 {
    height: 50%;
    padding: 50px;
    box-sizing: border-box;
    margin-left: auto;

}
.img-container1 img {
    max-width: 100%;
    height: auto;

}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('fonts/stylesheet.css')

/* @font-face {
    font-family: "Gotham-Book"; 
    src: url("fonts/Gotham-Book.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;  */
  /* }  */
body{
    /* font-family: "Inter"; */
    font-family:"Gotham Pro";
}  


header {
    background-color: #f8f9fa;
    padding: 20px 0;
    width: 100%;
    height: 80px;
    position: relative;
}

.navbar {
    height: 100%;
}

.navbar-brand img {
    max-height: 80px; 
    width: auto;
}

.navbar-nav {
    align-items: center;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    color: #166A5B; /* Используем зеленый цвет для ссылок */
    font-weight: 500;
}

.nav-link:hover {
    color: #0f4d3f; /* Немного темнее при наведении */
}

.dropdown-menu {
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.dropdown-item:hover {
    background-color: #e9ecef;
}

/* Стили для иконок социальных сетей */
.nav-link i {
    font-size: 1.2rem;
}

/* Стили для мобильного меню */
@media (max-width: 991px) {
    header {
        height: auto;
    }

    .navbar-collapse {
        background-color: #f8f9fa;
    }

    .navbar-nav {
        padding: 10px 0;
    }

    .nav-item {
        margin: 5px 0;
    }
}

/* Дополнительные стили из предоставленного CSS */
.text-green {
    color: #166A5B;
}

.footer-logo img {
    max-height: 50px;
    width: 50px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav ul {
    margin-bottom: 0;
}
.breadcrumb-item a {
    color: #585858; 
    text-decoration: none;
}
.breadcrumb-item.active {
    color: #6c757d;
}
.product-section {
    display: flex;
    justify-content: space-between;
}
.product-image {
    max-width: 70%;
    height: auto;
}
.product-thumbnails {
    display: flex;
    margin-top: 10px;
}
.product-thumbnails img {
    max-width: 60px;
    border: 1px solid #ddd;
    padding: 5px;
}
.product-details {
    max-width: 50%;
}
.product-details h1 {
    font-size: 24px;
    color: #166A5B;
}
.product-details p {
    font-size: 18px;
}
.table {
    margin-top: 50px;
    background-color:#f8f9fa
}

.benefit-card {
    border: 1px solid #166A5B;
    padding: 20px;
    width: 100%;
    height: 380px;
    margin: 10px 5px;
    box-sizing: border-box;
}
.benefit-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.benefit-header span {
    display: inline-block;
    width: 38px;
    height: 38px;
    background-color:rgba(22, 106, 91, 0.4);
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 20%;
    margin-right: 10px;
    font-weight: bold;
}
.benefit-header h5 {
    margin: 0;
    font-size: 18px;
}
.benefit-header h6 {
    margin: 0;
    font-size: 18px;
}

.benefit-card p{
    font-size: 15px;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px;
    width: 100%;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand img {
    max-height: 50px;
    width: auto;
}

.list-inline {
    margin-bottom: 0;
    padding-left: 0;
}

.list-inline-item {
    display: inline-block;
    margin-right: 15px;
}

.list-inline-item:last-child {
    margin-right: 0;
}

.text-green {
    color: #166A5B;
}

.text-decoration-none:hover {
    text-decoration: underline !important;
}

.btn-group .btn {
    color: #166A5B;
    background-color: transparent;
    border: 1px solid #166A5B;
}

.btn-group .btn:hover,
.btn-group .btn:focus {
    background-color: #e9ecef;
}

.dropdown-menu {
    min-width: 10px;
    padding: 12px;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #CDD8D5;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #166A5B;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #1e2125;
    background-color: #e9ecef;
}

@media (max-width: 991px) {
    .footer-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-brand {
        margin-bottom: 15px;
    }

    .list-inline {
        margin-bottom: 15px;
    }

    .list-inline-item {
        display: block;
        margin-bottom: 10px;
    }

    .btn-group {
        align-self: flex-start;
    }
}

.container h2{
    color: #166A5B;
    font-size: 22px; 
    font-weight: bold;

}

.color-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}
.color-item {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.color-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.color-name {
    font-size: 14px;
}
.kurkuma-text {
    color: #b5a642;
}

.marena-text {
    color: #E6803D;
}

.indigo-text {
    color: #3B4A5A;
}
.color-kurkuma{
    background-color: #C2A825;
}
.color-marena{
    background-color: #E6803D;
    border: 4px solid #2f4f4f;
}
.color-indigo{
    background-color: #3B4A5A;
}

.container-co h1{
    color: #166A5B;
    font-size: 30px; 
    font-weight: bold;
}
.container-map {
    width: 1200px;
    height: 800px;
    margin-left: 200px;
}

.card-body {
    padding: 1rem;
    
}


.color-box {
    background-color: #2D6A4F;
    width: 40px; 
    height: 40px;
    margin-right: 10px;
}
.color-box2 {
    background-color: #2D9A4F;
    width: 40px; 
    height: 40px;
    margin-right: 10px;
}

.form-container {
    width: 800px;
    padding: 50px;
    margin-left: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.form-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
.form-container p {
    font-size: 16px;
    margin-bottom: 20px;
}
.form-container form {
    display: flex;
    flex-direction: column;
}
.form-container form .form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.form-container form .form-group input,
.form-container form .form-group textarea {
    width: 48%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-container form .form-group textarea {
    width: 100%;
    resize: vertical;
    height: 100px;
}
.form-container form button {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #007b5e;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    margin-left: 150px;
}
.form-container form button:hover {
    background-color: #005f47;
    width: 50%;
}
section {
    padding: 40px 20px;
    background-color: #ffffff;
}
.container-about {
    max-width: 1200px;
    margin: 0 auto;
}
.container-about h1 {
    font-size: 26px;
    color: #166A5B;
    margin-bottom: 30px;
    font-weight: bold;
    /* text-align: center; */
}
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.col-md-6 {
    flex: 1;
    min-width: 300px;
}
.col-md-6 p {
    font-size: 16px;
    line-height: 1.6;
    color: #242424;
    margin-bottom: 20px;
}
.col-md-6 h2 {
    font-size: 24px;
    color: #242424;
    margin-bottom: 15px;
    font-weight: bold;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007b5e;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.btn:hover {
    background-color: #005f47;
}
.mt-4 {
    margin-top: 40px;
}